/* .pokemonName {
    min-height: 50vh;
    background-color: #fd7065;
    color: white;
    padding: 24px;
}

.infoContainer {
    background-color: White;
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
    height: 100px;
    margin-top: -40px;
} */

.pokemon {
    height: 150px;
    max-width: 300px;
    background-color: #65fdc3;
    border-radius: 10px;
    margin: 16px;
    display: flex;
    justify-content: space-between;
    padding-left: 8px;
}

.pokemonBaby {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.btn {
    color: #fd7065!important;
    border-color: #fd7065!important;
}

.btn:hover {
    background-color: #fd7065!important;
    color: white!important;
}

.pokeimg {
    background-color: rgb(157, 253, 221);
    border-top-left-radius: 50%;
    border-bottom-left-radius: 50%;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.pokeimg img {
    width: 150px;
}

.borderBlack {
    border: solid 1px black!important;
    border-radius: 8px;
    margin: 3px;
    padding: 3px;
}